/* @media (max-width: 200px) {
  #div2 {
  }
} */

/* #div2 {
  width: 586px;
  height: 190px;
  left: 735px;
  top: 24.54%;
}

#div1 {
  left: 5.35%;
  right: 57.21%;
  top: 24.54%;
  bottom: 34.03%;
} */

/* The page you are looking for might be removed or is temporarily unavailable */
.para1 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;

  /* Gray 2 */

  color: #4f4f4f;
}

/* Back to homepage */
.para2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.035em;
  text-transform: uppercase;

  color: #ffffff;
}

/* Rectangle 71*/

.btn1 {
  /* Gray 1 */
  padding: 12px;
  background: #333333;
}

/* Scarecrow */

.img {
  height: 447.4263916015625px;
  width: 539.2236938476562px;
}

/* I have bad news for you */
.head1 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;

  /* Gray 1 */

  color: #333333;
}

.footer {
  /* created by username - devChallenges.io */

  position: absolute;
  display: flex;
  justify-content: center;
  width: 287px;
  height: 17px;
  left: 577px;
  top: 1000px;
}

.para3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #bdbdbd;
}

.main-container {
  display: flex;
  flex-direction: row;

  font-family: Space Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.035em;
  text-align: left;
}
